/* CSS con cambios de estilo y tamaño de letra */

/* 320px: Para teléfonos móviles pequeños.
480px: Para teléfonos móviles más grandes.
768px: Para tablets en modo vertical.
992px: Para tablets en modo horizontal y laptops pequeñas. */

body {
  background-image: url('../images/inicio-ordena.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Cambia el tipo de letra para todo el cuerpo del documento */
}

.header {
  text-align: center;
  text-shadow: 0px 0px 2px white;
  padding: 20px 0;
  font-size: 24px; /* Cambia el tamaño de letra para el encabezado */
}
.title {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */
  color: #fff; /* Cambia el color del texto a blanco */
  background-color: rgba(165, 154, 128, 0.5); /* Fondo con color y opacidad */
  padding: 10px 20px; /* Añade espacio alrededor del texto para resaltarlo */
  text-transform: uppercase; /* Convertir el texto en mayúsculas */
  font-weight: bold; /* Negrita */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto */
}
footer {
  background-color: rgb(11, 1, 1);
  color: white;
  font-size: 18px; /* Cambia el tamaño de letra para el pie de página */
  text-align: center;
  width: 100%;
  padding:0;  
}

.a {
  color: whitesmoke;
  text-decoration: none;
  justify-content: center;
  font-size: 16px; /* Cambia el tamaño de letra para los enlaces */
}

.botones {
  background-image: url('../images/Fuente.jpg');
  background-position: center;
  width: 80%;
  max-width: 800px;
  max-height: 800px;
  margin: 2em auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding: 4em;
  font-size: 20px; /* Cambia el tamaño de letra para los botones */
}

.button {
  margin: 0;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #A59A80;
  color: white;
  border: 3px solid #E6EDF5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  width: 240px;
  height: 60px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em; /* Cambia el tamaño de letra para los botones */
}

.button:hover {
  background-color: #807A64;
}

/* INFORMACION INSTITUCIONAL */
.infoinst {
  background-color: antiquewhite;
  padding: 2em;
  margin: 2em auto;
  text-align: center;
  width: 80%;
  max-width: 800px;
  font-size: 18px; /* Cambia el tamaño de letra para la información institucional */
}

.logopatrimonio {
  margin: 2em auto;
  display: block;
  width: 80%;
  max-width: 100px;
}

.accordion-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #A49A7a;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  transition: background-color 0.3s;
}

.accordion-title:hover {
  background-color: #e1e1e1;
}

.accordion-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}

/* CREAR QR */
.qrinicio, .qrarchivo, .crear {
  background-color: antiquewhite;
  padding: 0.5em;
  align-items: center;
  text-align: center;
  margin: 1em auto;
  width: 80%;
  max-width: 600px;
  border-radius: 0.5em;
  border: 1px solid black;
}

.qrboton .button, .volverboton .button {
  width: 160px;
  height: 40px;
  margin: 1em auto;
  display: block;
}

.buttondownload-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  gap: 2em; /* Espacio de 2em entre los botones */
}

.buttondownload {
  margin: 0;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #69572B;
  color: white;
  border: 3px solid #E6EDF5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  width: 240px;
  height: 60px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; /* Cambia el tamaño de letra para los botones */
}

.buttondownload:hover {
  background-color: #807A64;
}

.instructions-button {
  margin: 1em 0;
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: #8A8686;
  color: white;
  border: 3px solid #E6EDF5;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: inline-block;
  font-size: 18px; /* Cambia el tamaño de letra para los botones de instrucciones */
}

.instructions-button:hover {
  background-color: #6c6b6b;
  transform: scale(1.05);
}

select {
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 5px;
  border: 2px solid #E6EDF5;
  background-color: #f8f8f8;
  color: #333;
  font-size: 16px; /* Cambia el tamaño de letra para los elementos select */
  font-family: 'Arial', sans-serif; /* Cambia el formato de la letra del select */
  cursor: pointer;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #8A8686;
}

/* Media Queries para ajustes en diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .botones {
    padding: 2em;
  }

  .button {
    width: 80%;
    height: auto;
    line-height: 2;
  }

  .infoinst {
    margin: 1em auto;
    padding: 1em;
    font-size: 18px; /* Ajuste del tamaño de letra para la información institucional */
  }

  .qrinicio, .qrarchivo, .crear {
    padding: 1em;
    font-size: 16px; /* Ajuste del tamaño de letra para elementos relacionados con QR */
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 1rem;
  }

  .button {
    padding: 1em;
    width: 100%;
    font-size: 16px; /* Ajuste del tamaño de letra para los botones */
  }
}

