/* CSS con cambios de estilo y tamaño de letra */

/* 320px: Para teléfonos móviles pequeños.
480px: Para teléfonos móviles más grandes.
768px: Para tablets en modo vertical.
992px: Para tablets en modo horizontal y laptops pequeñas. */

body {
  background-image: url('../images/inicio-ordena.png');
  background-repeat: no-repeat;  /* Ensures the image is displayed only once */
  background-size: cover;         /* Scales the image to cover the entire viewport */
  background-position: center;    /* Centers the image horizontally and vertically */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



.header {
  text-align: center;
  text-shadow: 0px 0px 2px white;
  padding: 20px 0;
  margin-bottom: -15px;
  font-size: 24px; 
}

.title {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  color: #fff; 
  background-color: rgba(165, 154, 128, 0.5); 
  padding: 10px 20px; 
  text-transform: uppercase; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

footer {
  background-color: #282828;
  color: #FFFFFF;
  width: 100%; /* Asegurar que el footer ocupe el 100% del ancho */
  padding: 10px 0;
  text-align: center;
  margin: 0; /* Eliminar márgenes */
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.footer-content {
  text-align: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
}
.footer-links a:hover {
  background-color:#867653;
}
.footer-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permitir que los logos se envuelvan */
  margin-top: 10px;
  gap: 10px; /* Espacio entre los logos */
}

.footer-logo {
  margin: 0 10px;
  width: 50px; 
  height: auto;
  background-color: #FFFFFF;
  border-left: solid 6px #282828; 
  object-fit: contain;
}

.footer-left {
  text-align: center;
  margin-top: 10px;
}

.footer-icon {
  color: whitesmoke;
}

.footer-icon:hover {
  color: #867653;
  transform: scale(2);
}
.a {
  color: whitesmoke;
  text-decoration: none;
  justify-content: center;
  font-size: 16px;
}

.botones {
  background-image: url('../images/Fuente.jpg');
  background-position: center;
  width: 80%;
  max-width: 800px;
  max-height: 800px;
  margin: 2em auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding: 4em;
  font-size: 20px; 
}

.button {
  background-color: #A59A80;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Add hover effect */
}

.button-guardar{
  background-color: #A59A80;
  color: white;
  width: 40%;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 5em;
  transition: background-color 0.3s ease; /* Add hover effect */
}

.button:hover {
  background-color:#867653;
}

/* INFORMACION INSTITUCIONAL */
.infoinst {
  background-color: antiquewhite;
  padding: 2em;
  margin: 2em auto;
  text-align: center;
  width: 80%;
  max-width: 800px;
  font-size: 18px; 
  border-radius: 1%;
  border: 1px solid black;
}

.logopatrimonio {
  margin: 2em auto;
  display: block;
  width: 80%;
  max-width: 100px;
  margin-top: 0;
}

#map {
  cursor: url('../images/ubicacion.png') 16 32, auto !important;
  
}

.accordion-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #a48b7a;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  transition: background-color 0.3s;
}

.accordion-title:hover {
  background-color: #858080;
}

.accordion-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}

/* CREAR QR */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px; /* Aumenta el ancho máximo del modal */
  width: 90%; /* Asegura que el modal no ocupe toda la pantalla en pantallas grandes */
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}



/* Estilos para las pestañas */
.tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #A59A80;
  border: 1px solid #ccc;
  border-radius: 5px 5px 2px 2px;
}

.tab.active {
  background-color: #f5fad7;
  border-radius: 5px 5px 0 0;
  border-color: black;
}

.qrinicio, .qrarchivo, .crear {
  background-color: antiquewhite;
  padding: 0.5em;
  align-items: center;
  text-align: center;
  margin: 1em auto;
  width: 80%;
  max-width: 600px;
  border-radius: 0.5em;
  border: 1px solid black;
}

.qrboton .button, .volverboton .button {
  width: 160px;
  height: 40px;
  margin: 1em auto;
  display: block;
  text-align: center; 
  line-height: 40px;
}

.volverboton .button {
  background-color: #ac8859;
  margin-left: 5em;
}

.buttondownload-container {
  display: flex;
  justify-content: center; 
  gap: 2em; 
}

.buttondownload {
  margin: 0;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #69572B;
  color: white;
  border: 3px solid #E6EDF5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  width: 240px;
  height: 60px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; 
}
.buttondownloaddb{
  margin: 0;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #69572B;
  color: white;
  border: 3px solid #E6EDF5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 60px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px; 
}
.buttondownload:hover {
  background-color: #807A64;
}

.instructions-button {
  margin: 1em 0;
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: #8A8686;
  color: white;
  border: 3px solid #E6EDF5;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: inline-block;
  font-size: 18px; 
}

.instructions-button:hover {
  background-color: #6c6b6b;
  transform: scale(1.05);
}
.alert-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alert-modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alert-modal-button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #A59A80;
  color: white;
  cursor: pointer;
}

select {
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 5px;
  border: 2px solid #E6EDF5;
  background-color: #f8f8f8;
  color: #333;
  font-size: 16px; 
  font-family: 'Arial', sans-serif; 
  cursor: pointer;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #8A8686;
}

/* compartir.css */

.compartir-container {
  text-align: center;
  margin: 20px auto;
}

.compartir-header {
  margin-bottom: 10px;
}

.compartir-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.compartir-icons > * {
  margin: 0 5px; 
}

.compartir-icons > *:hover {
  transform: scale(1.1); /* Ajusta el valor de escala según tus preferencias */
}

.aviso-legal , .accesibilidad, .privacidad, .politica-cookies, .contacto {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  background-color: antiquewhite;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3em;
}

.aviso-legal h1, .accesibilidad h1, .privacidad h1, .politica-cookies h1,.contacto h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.aviso-legal p, .accesibilidad p, .privacidad p, .politica-cookies p, .contacto p  {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}



.contacto h1{
  color: #333;
}

.contacto table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  margin-top: 10px;
}

.contacto table, .contacto th, .contacto td {
  border: 1px solid #ddd;
}

.contacto th, .contacto td {
  padding: 8px;
  text-align: left;
}

.contacto th {
  background-color: #f2f2f2;
}

.contacto a {
  color: #007bff;
  text-decoration: none;
}

.contacto a:hover {
  text-decoration: underline;
}


.scroll-to-top {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde abajo */
  right: 20px; /* Ajusta la distancia desde la derecha */
  background-color: #3E3419; /* Color de fondo del botón */
  color: white; /* Color del icono */
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Para que el botón sea circular */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s;
}

.scroll-to-top:hover {
  opacity: 0.8; /* Reduce la opacidad cuando se pasa el mouse sobre el botón */
}
/* 
FORMULARIO */
.password-input-container {
  position: relative;
}

.password-input-container input {
  width: 100%;
  padding-right: 30px; /* Añadir espacio para el icono */
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2em;
  color: #333;
}

.password-toggle.visible {
  color: #007bff;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.links-container a {
  margin: 5px 0;
  text-decoration: none;
  color: #007bff;
}

.links-container a:hover {
  text-decoration: underline;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  color: black;
  margin-top:70px;
}
.with-placeholder-style input[type="email"]::placeholder{
  color: black;  /* Set the placeholder text color to black */
}
.with-placeholder-style input[type="password"]::placeholder{
  color: black;  /* Set the placeholder text color to black */
}
.login-form {
  padding: 4rem;
  padding-bottom: 6rem;
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(10, 10, 10, 1) 0%, rgba(61,60,60,1) 18%, rgba(255,252,252,1));
  border: 3px solid #43381b;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}


.login-form h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  
}

.login-form input {
  width: 250px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.login-form input::placeholder {
  color: #fff;
}

.login-form button {
  margin-top: 2rem;
  width: 100%;
  padding: 0.5rem;
  background-color:#A49A7F;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #3E3419;
  color: white;
}

.login-form a {
  display: block;
  margin-top: 1rem;
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

@media (max-width: 400px) {
  .login-form {
    margin-right: .5%;
  }
}

/*PERFIL*/
.profile-container {
  background-color: #FAEBD7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10em;
  margin-right: 10em;
  margin-top: .5em;
  text-align: center; /* Alinea el contenido al centro */
}

.page-title {
  text-align: center; /* Alinea el título al centro */
  margin-top: 1em;
}

.avatar {
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.profile-item {
  margin-top: 1em;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center; /* Alinea los elementos del perfil al centro */
}

.btn-primary {
  background-color: #AC8859;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block; /* Para que el botón no ocupe todo el ancho disponible */
  margin-top: 10px; /* Ajusta según tu diseño */
}

.btn-primary:hover {
  background-color: #A49A7F;
}

/*LISTA QR*/
.tablaqr {
  margin: auto;
  width: 80%;
  padding: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #FAEBD7;
}

th, td {
  border: 1px solid #c1ae05cd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #898009;
}

.qr-code-cell {
  text-align: center;
}

.qr-code-cell img {
  width: 100px; /* Ajusta el tamaño según tus preferencias */
  height: auto;
  display: block;
  margin: 0 auto;
}
.delete-button {
  background-color: #665326; /* Color de fondo rojo */
  color: white; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como bloque en línea */
  font-size: 14px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor de puntero */
  border-radius: 4px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.delete-button:hover {
  background-color: #d32f2f; /* Cambio de color de fondo al pasar el ratón */
}

/* REGISTRO */
.cerrarsesion{
  width: 15em;
  height: 2.5em;
  margin-left: 85%;
  border-radius: 5%;
  border-color: #282828;
  background-color:#AC8859; 
  color: whitesmoke;
}
.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-container input {
  flex: 1;
  padding-right: 30px; /* Espacio para el icono */
  width: 100%;
}

.password-container i {
  position: absolute;
  right: 10px;
}
input::placeholder {
  color: grey !important; /* Usa !important para asegurar que el color sea aplicado */
  opacity: 1 !important; /* Para asegurar que el color sea visible */
}

select::placeholder {
  color: grey !important; /* Usa !important para asegurar que el color sea aplicado */
  opacity: 1 !important; /* Para asegurar que el color sea visible */
}

.password-container input::placeholder {
  color: grey !important; /* Usa !important para asegurar que el color sea aplicado */
  opacity: 1 !important; /* Para asegurar que el color sea visible */
}

input, select, .password-container input {
  width: 100%; /* O usa un valor fijo como '300px' */
  max-width: 300px; /* Ajusta el valor según tus necesidades */
  box-sizing: border-box; /* Asegura que el padding y border no afectan el ancho total */
}

.password-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px; /* Ajusta el valor según tus necesidades */
}

.password-container input {
  flex: 1;
}

.password-container i {
  margin-left: -30px; /* Ajusta este valor para posicionar el icono correctamente */
  cursor: pointer;
}

/* Asegurar que el color del placeholder sea visible */
input::placeholder,
select::placeholder {
  color: grey;
  opacity: 1;
}
/* Media Queries para ajustes en diferentes tamaños de pantalla */
@media (max-width: 768px) {
  
  .botones {
    padding: 2em;
  }

  .button {
    width: 80%;
    height: auto;
    line-height: 2;
  }

  .infoinst {
    margin: 1em auto;
    padding: 1em;
    font-size: 18px; 
  }

  .qrinicio, .qrarchivo, .crear {
    padding: 1em;
    font-size: 16px; 
  }

  .footer-container {
    flex-direction: row; /* Mantener los elementos en fila */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    align-items: center;
  }

  .footer-logos {
    margin-top: 10px;
  }
  .login-form a {
    display: none; /* Hide links on smaller screens */
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 1rem;
  }

  .button {
    padding: 1em;
    width: 100%;
    font-size: 16px; 
  }

  .footer-container {
    flex-direction: row; /* Mantener los elementos en fila */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    align-items: center;
  }

  .footer-logos {
    flex-direction: row; /* Mantener los logos en fila */
    justify-content: center;
    flex-wrap: wrap; /* Permitir que los logos se envuelvan */
    margin-top: 10px;
  }

  .footer-logo {
    margin: 5px 10px; /* Ajustar margen para logos en fila */
    width: 40px; /* Ajustar tamaño de los logos para pantallas pequeñas */
  }
}
